<html>
<head>

<!-- ###DOCUMENT_HEADER### START-->

<!-- Subpart ###title-tag### begin -->
<title>&quot;classicTemplate&quot;</title>
<!-- Subpart ###title-tag### end -->

<!--[if lte IE 7]>
<link href="typo3conf/ext/snet_tmpl_basic/Resources/Public/Styles/ie-patch.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!-- ###DOCUMENT_HEADER### END-->
</head>

<body>
<!-- ###DOCUMENT_BODY### START-->

###IE6###

<div class="page_margins">
  <div class="page">
    <div id="header">
      ###header_img###
      <div id="metanav">###metanav###</div>
    </div>
    <div id="mainnav">###mainnav###</div>

    <div id="main">
      <div id="col1">
        <div id="col1_content" class="clearfix">
			###subnav###
		</div>
      </div>

      <div id="col2">
        <div id="col2_content" class="clearfix">
			###col2_content###
		</div>
      </div>

      <div id="col3">
        ###breadcrumb###
        <div id="col3_content" class="clearfix">
			###col3_content###
		</div>
        <div id="ie_clearing">&nbsp;</div>
      </div>

    </div>

    <div id="footer">###footer###</div>
  </div>
</div>

<!-- ###DOCUMENT_BODY### END-->
</body>
</html>
