<f:layout name="LayoutDefault" />

<f:section name="content">

<div class="content-main">
    <!--TYPO3SEARCH_begin-->
    <f:format.html parseFuncTSPath="">{content-main}</f:format.html>
    <!--TYPO3SEARCH_end-->
    <div class="demogrid">
        <div class="demogrid-column demogrid-column--main">Subcontent Big</div>
        <div class="demogrid-column demogrid-column--aside">Subcontent Small</div>
    </div>
</div>

<aside class="content-complement">
    <f:format.html parseFuncTSPath="">{content-complement}</f:format.html>
</aside>

</f:section>