<f:format.html parseFuncTSPath="">{IE6advice}</f:format.html>

<div class="page page--{templateName}">
    <header class="header">
        <h1>SNET Basictemplate</h1>
        <f:format.html parseFuncTSPath="">{headerImage}</f:format.html>
        <nav class="nav nav--meta"><f:format.html parseFuncTSPath="">{metanav}</f:format.html></nav>
    </header>
    <nav class="nav nav--main"><f:format.html parseFuncTSPath="">{mainnav}</f:format.html></nav>
    <nav class="nav nav--breadcrumb"><f:format.html parseFuncTSPath="">{breadcrumb}</f:format.html></nav>

    <div class="content">
        <f:render section="content" />
    </div>

    <footer class="footer"><f:format.html parseFuncTSPath="">{footer}</f:format.html></footer>
</div>

<f:render partial="Analytics" />