<f:format.html parseFuncTSPath="">{IE6advice}</f:format.html>

<div class="page">
    <header class="header">
        <h1>SNET Basictemplate</h1>
        <f:format.html parseFuncTSPath="">{headerImage}</f:format.html>
        <nav class="nav nav--meta"><f:format.html parseFuncTSPath="">{metanav}</f:format.html></nav>
    </header>
    <nav class="nav nav--main"><f:format.html parseFuncTSPath="">{mainnav}</f:format.html></nav>
    <nav class="nav nav--breadcrumb"><f:format.html parseFuncTSPath="">{breadcrumb}</f:format.html></nav>

    <div class="content">

        <div class="content-main">
            <!--TYPO3SEARCH_begin-->
            <f:format.html parseFuncTSPath="">{content-main}</f:format.html>
            <!--TYPO3SEARCH_end-->
            <div class="demogrid">
                <div class="demogrid-column demogrid-column--main">Subcontent Big</div>
                <div class="demogrid-column demogrid-column--aside">Subcontent Small</div>
            </div>
        </div>

        <aside class="content-complement">
            <f:format.html parseFuncTSPath="">{content-complement}</f:format.html>
        </aside>

    </div>

    <footer class="footer"><f:format.html parseFuncTSPath="">{footer}</f:format.html></footer>
</div>