<h1>Welcome to Fluid</h1>
<f:format.html parseFuncTSPath="">{IE6advice}</f:format.html>
<div class="page_margins">
    <div class="page">
        <div id="header">
            <f:format.html parseFuncTSPath="">{headerImage}</f:format.html>
            <div id="metanav"><f:format.html parseFuncTSPath="">{metanav}</f:format.html></div>
        </div>
        <div id="mainnav"><f:format.html parseFuncTSPath="">{mainnav}</f:format.html></div>

        <div id="main">
            <div id="col1">
                <div id="col1_content" class="clearfix">
                    <f:format.html parseFuncTSPath="">{subnav}</f:format.html>
                </div>
            </div>

            <div id="col2">
                <div id="col2_content" class="clearfix">
                    <f:format.html parseFuncTSPath="">{col2_content}</f:format.html>
                </div>
            </div>

            <div id="col3">
                <f:format.html parseFuncTSPath="">{breadcrumb}</f:format.html>
                <div id="col3_content" class="clearfix">
                    <!--TYPO3SEARCH_begin-->
                    <f:format.html parseFuncTSPath="">{col3_content}</f:format.html>
                    <!--TYPO3SEARCH_end-->
                </div>
                <div id="ie_clearing">&nbsp;</div>
            </div>

        </div>

        <div id="footer"><f:format.html parseFuncTSPath="">{footer}</f:format.html></div>
    </div>
</div>
