<h1>Welcome to Fluid</h1>

<f:format.html parseFuncTSPath="">{IE6advice}</f:format.html>

<div class="page">
    <header class="header">
        <h1>SNET Basictemplate</h1>
        <f:format.html parseFuncTSPath="">{headerImage}</f:format.html>
        <nav class="nav nav--meta"><f:format.html parseFuncTSPath="">{metanav}</f:format.html></nav>
    </header>
    <nav class="nav nav--main"><f:format.html parseFuncTSPath="">{mainnav}</f:format.html></nav>

    <div class="content">
        <div id="col1">
            <div id="col1_content" class="clearfix">
                <f:format.html parseFuncTSPath="">{subnav}</f:format.html>
            </div>
        </div>

        <div id="col3">
            <f:format.html parseFuncTSPath="">{breadcrumb}</f:format.html>
            <div id="col3_content" class="clearfix">
                <!--TYPO3SEARCH_begin-->
                <f:format.html parseFuncTSPath="">{col3_content}</f:format.html>
                <!--TYPO3SEARCH_end-->
            </div>
            <div id="ie_clearing">&nbsp;</div>
        </div>

    </div>

    <footer class="footer"><f:format.html parseFuncTSPath="">{footer}</f:format.html></footer>
</div>
