// /*
// ******************************
//  | - Komplementärbereich
// ******************************
// */

.content-complement {
    padding:0 $width-margin;
    background:$color-frugal;
    box-sizing:border-box;
}

.content-complement .csc-default {
    margin:$width-margin 0;
}

.content-complement .csc-default:not(:first-child) {
    border-top:1px solid $color-minor;
}