// /*
// ******************************
//  | - Header Styles
// ******************************
// */

.header {
    min-height:60px;
    padding:$width-margin;
    background:$color-highlight;
    color:$color-minor;
    position:relative;
}

.header h1 {
    @include font-size($fontsize-xl, $fontsize-base);
    position:absolute;
    bottom:0;

    @include mq($mq-mobile) {
        position:static;
        text-align:center;
        margin-top:0;
    }
}