// /*
// ******************************
//  | - Navigation Module
// ******************************
// */


// /*
//  | - - Global Navigation
// */

.nav-list {
    list-style-type:none;
    overflow:auto;
    padding:0;
    margin:0;
}

.nav-list-item {
    display:block;
    float:left;

    &:before {
        content:'|';
        margin:0 10px;
    }

    &:first-child:before {
        display:none;
    }
}


// /*
//  | - - Meta Navigation
// */

.nav--meta {
    position:absolute;
    right:$width-margin;
    top:$width-margin;

    @include mq($mq-mobile) {
        position:static;
        text-align:center;
    }
}

.nav--meta .nav-list-item {
    padding-bottom:6px;

    @include mq($mq-mobile) {
        display:inline-block;
        float:none;
    }
}

.nav--meta .nav-list-item a {
    color:$color-minor;
    padding-bottom:4px;
    border-bottom:2px solid transparent;

    &:hover {
        color:$color-main;
        border-bottom-color:$color-main;
        text-decoration:none;
    }
}

.nav--meta .nav-list-item--cur a {
    border-bottom-color:$color-minor;
}

// /*
//  | - - Main Navigation
// */

.nav--main {
    background:$color-main;

    @include mq($mq-tablet) {
        text-align:center;
    }
}

.nav--main .nav-list-item {
    &:before {
        display:none;
    }

    @include mq($mq-tablet) {
        display:inline;
        float:none;
    }
}

.nav--main .nav-list-item a {
    display:block;
    padding:$width-margin $width-margin - 5px $width-margin - 5px $width-margin - 5px;
    border:none;
    text-decoration:none;
    border-bottom:5px solid transparent;
    margin:0 5px;

    @include mq($mq-tablet) {
        display:inline-block;
        padding:0;
        border-bottom:none;
        margin:$width-margin / 2;
    }

    &:hover {
        color:$color-minor;
        border-bottom-color:$color-minor;
    }
}

.nav--main .nav-list-item--cur a {
    border-bottom-color:$color-highlight;
}


// /*
//  | - - Breadcrumb Navigation
// */

.nav--breadcrumb {
    margin:$width-margin 0;
}