.csc-mailform ol {
	list-style-type:none;
}

.csc-form-element {
	margin:15px 0;
}

div.csc-mailform li label {
	width:19%;
	margin-right:1%;
}

.csc-mailform label em {
	display:inline-block;
	font-weight:bold;
	padding-left:4px;
}

.csc-mailform input[type=text],  
.csc-mailform input[type=email], 
.csc-mailform input[type=password], 
.csc-mailform input[type=date], 
.csc-mailform textarea, 
.csc-mailform select {
	width:80%;
}

.csc-mailform input[type=submit] {
	margin-left:20%;
}


// Spam Field
.csc-form-5 {
	display:none;
}