
// /*
// ******************************
//  | - Basic Layout Styles
// ******************************
// */


.page {
    width:$width-total;
    margin:$width-margin auto;
}

.content {
    @include clearfix;
}

.content-main {
    @include span-columns($columns-main);
}

.content-complement {
    @include span-columns($columns-complement);
}