/*
******************************
 | - Basic Project Styles
******************************
*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size:$fontsize-base;
    color:$color-main;
    background:$color-minor;
    line-height:1.5;
}

body {
    font-family:$font;
    padding:0 $width-margin/2;
}

p {
    margin:$width-margin 0;
}

a {
    color:$color-highlight;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    border-bottom:1px solid $color-main;
}

h1, h2, h3, h4, h5, h6 {
    font-family:$font-highlight;
    font-weight:bold;
    @include font-size($fontsize-l, $fontsize-base);
    text-transform:uppercase;
    margin:$width-margin 0;
}

h1 {
    font-size:$fontsize-xxl;
}

h2 {
    font-size:$fontsize-xl;
}

h3 {
    font-size:$fontsize-l;
}

// Form elements
input[type=text],
input[type=submit],
input[type=email],
input[type=password],
input[type=date],
textarea,
select {
    border:0;
    background:$color-frugal;
    padding:10px;
    margin-bottom:15px;
    width:100%;
    box-sizing:border-box;
}

input[type=submit] {
    background:$color-highlight;
    color:$color-minor;
    text-transform:uppercase;
    padding:10px 15px;
    width:auto;
    margin-bottom:30px;
    transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
    background-color:$color-frugal;
    color:$color-main;
}

table {
  width:100%;
  
  th {
    background:$color-frugal;
  }
  
  th, td {
    text-align:left;
    border:1px solid $color-frugal;
    padding:10px;
  }
}


.col { float: left; }
.column-3cols { overflow: auto; }
.column-3cols .col { width: 30%; }
.column-3cols .col:not(:first-child) { margin-left:5%; }

.column-2cols { overflow: auto; }
.column-2cols .col { width: 47%; }
.column-2cols .col:not(:first-child) { margin-left:6%; }