
/*
******************************
 | - Basic Project Styles
******************************
*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);

html {
    font-size:$fontsize-base;
    color:$color-main;
    background:$color-minor;
    line-height:1.5;
}

body {
    font-family:$font;
    padding:0 $width-margin/2;
}

p {
    margin:$width-margin 0;
}

a {
    color:$color-highlight;
    text-decoration:none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    border-bottom:1px solid $color-main;
}

h1, h2, h3, h4, h5, h6 {
    font-family:$font-highlight;
    font-weight:bold;
    @include font-size($fontsize-l, $fontsize-base);
    text-transform:uppercase;
    margin:$width-margin 0;
}

.col { float: left; }
.column-3cols { overflow: auto; }
.column-3cols .col { width: 30%; }
.column-3cols .col:not(:first-child) { margin-left:5%; }

.column-2cols { overflow: auto; }
.column-2cols .col { width: 47%; }
.column-2cols .col:not(:first-child) { margin-left:6%; }