// /*
//  | - - Color Values
// */

$color-main:#333;
$color-minor:#fff;
$color-highlight:#00AA55;
$color-frugal:#efefef;

// /*
//  | - - Font Sizes
// */

$fontsize-base:14px;

$fontsize:1rem;
$fontsize-s:0.857rem;
$fontsize-l:1.143rem;
$fontsize-xl:1.5rem;

// /*
//  | - - Fonts
// */

$font:'Open Sans', Tahoma, sans-serif;
$font-highlight: $font;


// /*
//  | - - Width Variables
// */

$width-total: 1180px;
$width-margin: 20px;
$width-column: 30px;